@import url('https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800&display=swap');
$body-font-family: 'Dosis';
#app {
  font-family: $body-font-family, sans-serif !important;
}
.theme--light {
  --bg-color: 255, 255, 255;
  --font-color: 18, 18, 18;

}

path {
  fill : rgb(var(--font-color));
}

.theme--dark {
  --bg-color: 18, 18, 18;
  --font-color: 255, 255, 255;
}
